<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav class="nav" id="nav">
        <div class="container">
            <div class="row">
                <ul class="col-md-12 nav__main">
                    <span class="icon-cancel"></span>
                                                <!--Array
(
[id] => 1
[place] => 0
[title] => Наши заведения
[slug] => /places
[order_num] => 1
[status] => 1
)
1-->
                                                        <li class="a"><a href="/places" class="nav__places nav__menu--elem">Наши заведения</a>
                                <ul class="col-md-12 subnav__places subnav" style="width: 1166px;">
                                                                                <li><a href="/places/index/1">АРЕНА-ПИЦЦА</a></li>
                                                                                <li><a href="/places/index/13"> ЗОЛОТОЙ ЛЕВ</a></li>
                                                                                <li><a href="/places/index/2">АРЕНА-ДЕСЕРТО</a></li>
                                                                                <li><a href="/places/index/3">АРЕНА-ГРИЛЬ</a></li>
                                                                                <li><a href="/places/index/4">АРЕНА-СУШИ</a></li>
                                                                                <li><a href="/places/index/7"> ВИКТОРИЯ</a></li>
                                                                                <li><a href="/places/index/12">ДВОРИК </a></li>
                                                                        </ul>
                            </li>
                                                                            <!--Array
(
[id] => 2
[place] => 0
[title] => Доставка
[slug] => /delivery
[order_num] => 2
[status] => 1
)
1-->
                                                        <li>
                                <a class="nav__icon-truck nav__delivery nav__menu--elem" href="/delivery">Доставка</a>
                            </li>
                                                                            <!--Array
(
[id] => 3
[place] => 0
[title] => Акции
[slug] => /discount/show_all
[order_num] => 3
[status] => 1
)
1-->
                                                        <li class="">
                                <a class="nav__menu--elem" href="/discount/show_all">Акции</a>
                            </li>
                                                                            <!--Array
(
[id] => 4
[place] => 0
[title] => Новинки
[slug] => /catalog/novelty
[order_num] => 4
[status] => 1
)
1-->
                                                        <li class="">
                                <a class="nav__menu--elem" href="/catalog/novelty">Новинки</a>
                            </li>
                                                                            <!--Array
(
[id] => 5
[place] => 0
[title] => Вакансии
[slug] => /pages/view/vacancies
[order_num] => 5
[status] => 1
)
1-->
                                                                            <!--Array
(
[id] => 6
[place] => 0
[title] => Новости
[slug] => /news/show_all
[order_num] => 6
[status] => 1
)
1-->
                                                        <li class="">
                                <a class="nav__menu--elem" href="/news/show_all">Новости</a>
                            </li>
                                                                    </ul>
            </div>
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div class="delivery-menu col-sm-12 col-md-12">
            <div class="delivery-menu__wrapper">

                <th:block th:each="pizza:${pizzas}">
                <div class="col-sm-6 col-xs-12 col-md-4 col-lg-3 delivery-menu__item delivery-menu__item--chikita" itemscope="" itemtype="http://schema.org/Product">
                    <a href="/delivery/item/296854">
                        <p class="delivery-menu__title" itemprop="name">ПИЦЦА ФИЛАДЕЛЬФИЯ 30 см			<span class="delivery-menu__weight--hidden"> (440 г.)</span>
                        </p>
                    </a><div class="delivery__img--wrapper"><a href="/delivery/item/296854">
                    <img class="delivery-menu__img" src="/img/catalog/preview_631863ef8ff9e.png" alt="ПИЦЦА ФИЛАДЕЛЬФИЯ 30 см" itemprop="image">

                </a>
                    <p class="delivery-menu__weight" itemprop="weight">440 г.</p>
                    <div class="delivery-menu__icon">
                        <span class="new"></span>			<p class="delivery-menu__icon-text delivery-menu__icon-text--violet">NEW</p>
                    </div>
                </div>
                    <div class="delivery-menu__text-wrapper">
                        <p class="delivery-menu__text" itemprop="description">Основа для пиццы, итальянский соус, сыр, форель слабосоленая, творожный сыр, кунжут, руккола</p>
                    </div>
                    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <p itemprop="price" content="26.50" class="delivery-menu__price">26.50 р.</p>
                    </div>
                    <a href="/delivery/item/296854" class="delivery-menu__button delivery-menu__button--disabled">ПОДРОБНЕЕ</a></div>
                </th:block>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>