<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <nav class="nav" id="nav">
        <div class="container">
            <div class="row">
                <ul class="col-md-12 nav__main">
                    <span class="icon-cancel"></span>
                                                <!--Array
(
[id] => 1
[place] => 0
[title] => Наши заведения
[slug] => /places
[order_num] => 1
[status] => 1
)
1-->
                                                        <li class="a"><a href="/places" class="nav__places nav__menu--elem">Наши заведения</a>
                                <ul class="col-md-12 subnav__places subnav" style="width: 1166px;">
                                                                                <li><a href="/places/index/1">АРЕНА-ПИЦЦА</a></li>
                                                                                <li><a href="/places/index/13"> ЗОЛОТОЙ ЛЕВ</a></li>
                                                                                <li><a href="/places/index/2">АРЕНА-ДЕСЕРТО</a></li>
                                                                                <li><a href="/places/index/3">АРЕНА-ГРИЛЬ</a></li>
                                                                                <li><a href="/places/index/4">АРЕНА-СУШИ</a></li>
                                                                                <li><a href="/places/index/7"> ВИКТОРИЯ</a></li>
                                                                                <li><a href="/places/index/12">ДВОРИК </a></li>
                                                                        </ul>
                            </li>
                                                                            <!--Array
(
[id] => 2
[place] => 0
[title] => Доставка
[slug] => /delivery
[order_num] => 2
[status] => 1
)
1-->
                                                        <li>
                                <a class="nav__icon-truck nav__delivery nav__menu--elem" href="/delivery">Доставка</a>
                            </li>
                                                                            <!--Array
(
[id] => 3
[place] => 0
[title] => Акции
[slug] => /discount/show_all
[order_num] => 3
[status] => 1
)
1-->
                                                        <li class="">
                                <a class="nav__menu--elem" href="/discount/show_all">Акции</a>
                            </li>
                                                                            <!--Array
(
[id] => 4
[place] => 0
[title] => Новинки
[slug] => /catalog/novelty
[order_num] => 4
[status] => 1
)
1-->
                                                        <li class="">
                                <a class="nav__menu--elem" href="/catalog/novelty">Новинки</a>
                            </li>
                                                                            <!--Array
(
[id] => 5
[place] => 0
[title] => Вакансии
[slug] => /pages/view/vacancies
[order_num] => 5
[status] => 1
)
1-->
                                                                            <!--Array
(
[id] => 6
[place] => 0
[title] => Новости
[slug] => /news/show_all
[order_num] => 6
[status] => 1
)
1-->
                                                        <li class="">
                                <a class="nav__menu--elem" href="/news/show_all">Новости</a>
                            </li>
                                                                    </ul>
            </div>
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div class="delivery-menu col-sm-12 col-md-12">
            <div class="delivery-menu__wrapper">

                <th:block th:each="pizza:${pizzas}">
                <div class="col-sm-6 col-xs-12 col-md-4 col-lg-3 delivery-menu__item delivery-menu__item--chikita" itemscope="" itemtype="http://schema.org/Product">
                    <a href="/delivery/item/296854">
                        <p class="delivery-menu__title" itemprop="name" th:text="${pizza.name}">
                        </p>
                    </a><div class="delivery__img--wrapper"><a href="/delivery/item/296854">
                    <img class="delivery-menu__img" th:src="@{${'/img/catalog/'+pizza.image}}" th:alt="${pizza.name}" th:title="${pizza.name}" itemprop="image">

                </a>
                    <p class="delivery-menu__weight" itemprop="weight" th:text="${pizza.mass} +' г.'"></p>
                    <div class="delivery-menu__icon">
                        <span class="new"></span>			<p class="delivery-menu__icon-text delivery-menu__icon-text--violet">NEW</p>
                    </div>
                </div>
                    <div class="delivery-menu__text-wrapper">
                        <p class="delivery-menu__text" itemprop="description" th:text="${pizza.desc}"></p>
                    </div>
                    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <p itemprop="price" content="26.50" class="delivery-menu__price" th:text="${#numbers.formatDecimal(1.0*pizza.price/100,0,2,'POINT') + ' р.'}"></p>
                    </div>
                    <a th:onclick="|addToCart(${pizza.id})|" class="delivery-menu__button delivery-menu__button--disabled">Заказать</a></div>
                </th:block>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

    <div class="cart-min" style="opacity: 1; display: block;">
        <i class='bx bxs-basket'></i>
        <div class="cart-min__amount cart__amount--num" id="cartAmountNum" th:utext="${#lists.size(orders)}"></div>
    </div>

    <div class="cart" style="top: 284.5px; display: none;">
        <div id="cartcontainer"><div class="cart__first-row row-clear">
            <p class="cart__name">
                <span class="cart__icon-wrapper"><i class='bx bxs-basket'></i></span>
                <span class="cart__name--hidden-mobile">Корзина</span>
            </p>
            <p class="cart__amount">
                <span class="cart__amount-text--hidden-desktop">В корзине</span>
                <span class="cart__amount--num" th:utext="${#lists.size(orders)}"></span>
                <span class="cart__amount--word">товар</span>
            </p>
            <div class="cart__mobile-only"></div>
            <div class="cart__logo">
                <img class="cart__logo-img" src="/views/img/logo.png" alt="logo" itemprop="logo">
            </div>
        </div>
            <div class="cart__nth-row-wrapper">
                <div class="cart__nth-row row-clear">
                    <th:block th:each="order:${orders}">
                    <div class="cart__item">
                        <div class="cart__img--wrapper">
                            <img class="cart__img" th:src="@{${'/img/catalog/' + order.orderDetails.pizza.image}}">
                        </div>
                        <div class="cart__item--wrapper">
                            <div class="cart__item--name-wrapper">
                                <p class="cart__item--name" th:text="${order.orderDetails.pizza.name}"></p>
                            </div>
                            <p class="cart__item--price">
                                <a class="cart__signs min" href="javascript:;" th:onclick="|dominus(${order.orderDetails.pizza.id})|">
                                    <i class='bx bxs-minus-circle'></i>
                                </a>
                                <span class="cart__num-of-dishes count" th:id="${order.orderDetails.pizza.id}" th:utext="${order.orderDetails.count}"></span>
                                <a class="cart__signs plus" href="javascript:;" th:onclick="|doplus(${order.orderDetails.pizza.id})|">
                                    <i class='bx bxs-plus-circle'></i>
                                </a>
                                <i class='bx bx-window-close' ></i>
                                <span class="price" th:text="${#numbers.formatDecimal(1.0*order.orderDetails.pizza.price/100, 0, 2, 'POINT')}"></span> руб.</p>
                        </div>
                        <a class="cart__item--delete" onclick="delete_from_cart('583499'); return false;" href="javascript:;"><i class='bx bx-window-close' ></i> </a>
                    </div>
                    </th:block>
                </div>
            </div>
            <div class="cart__result row-clear">
                <p class="cart__result--text">Ваш заказ:</p>
                <p class="cart__result--sum" id="result"></p>
            </div>
        </div>
        <form method="post" action="/site/order" class="material">
            <input type="hidden" name="_csrf" value="CnYhLROMgOpVkDsSrjiRFp7N1HrIcSzt-XNMhLD6fM98Q0x9YdTsrS-mSiSfecBu5qnlMr0WYaWzKX7d_cMjgw==">
            <div class="material-input input"><input type="text" name="name" data-required="" required="" id="name"><span class="material-bar"></span><label for="name">Имя</label></div>
            <div class="material-input input"><input type="text" name="phone" id="phone" data-required="" required=""><span class="material-bar"></span><label for="phone">Телефон</label></div>
            <div class="material-input input"><input type="text" name="address" data-required="" required="" id="address"><span class="material-bar"></span><label for="address">Адрес</label></div>

            <input type="hidden" name="time_from">
            <input type="hidden" name="time_to">
            <div class="material-input textarea"><textarea name="notes" id="notes"></textarea><span class="material-bar"></span><label for="notes">Время доставки и особые пожелания</label></div>

            <input class="submit-btn" type="submit" value="Оформить заказ">
            <input class="payment-type" type="hidden" id="ptype" value="1" name="payment">
            <div class="payment-notice" style="">
                Оформляя заказ, Вы даете согласие на обработку данных, в соответствии с <a href="/pages/view/terms">пользовательским соглашением</a>
            </div>

            <div class="row" style="margin-right: 0">
                <div class="col-xs-12">
                    <div class="btn-group btn-group-justified" role="group" aria-label="">
                        <div class="btn-group" role="group">
                            <input class="payment-type" type="hidden" value="1" name="">
                            <button type="button" class="btn btn-paymenttype btn-default btn-active">Оплата курьеру</button>
                        </div>
                        <div class="btn-group" role="group">
                            <input class="payment-type" type="hidden" value="2" name="">
                            <button type="button" class="btn btn-paymenttype btn-default ">Оплата картой</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p class="cart__result-notification" style="padding: 6px 0">Оплата банковской картой производится день в день до 22.00</p>
                </div>
            </div>
        </form>
        <div class="cart__hide">
            <a id="hide"><i class="icon-cancel icon-cancel--hide"></i><span class="cart__hide-word">свернуть</span></a>
        </div>
    </div>
<script th:inline="javascript">
    var client_id=[[${client.id}]];
    //console.log(client_id);

    async function addToCart(pizza_id){
        //console.log(id);
        var client_id = [[${client.id}]];
        console.log(client_id);
        var count = 1;
        const res = await fetch(`http://localhost:8080/order`,
            {
                method: "POST",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({client_id, pizza_id, count})
            });
    }

    $('.cart-min').click(
        function(){
            $('.cart').show()
        });
    $('.cart__hide-word').click(function(){
        $('.cart').hide()
    });

    function doplus(id) {
        $('#' + id).html(parseInt($('#' + id).html()) + 1);
        calcResult();
        //contUpt('#cartcontainer', '/ajax/cart_update/' + id + '/' + parseInt($('#rowid' + id).html()));
    }

    function dominus(id) {
        if (parseInt($('#' + id).html()) > 0) {
            $('#' + id).html(parseInt($('#' + id).html()) - 1);
            calcResult();
            //contUpt('#cartcontainer', '/ajax/cart_update/' + id + '/' + parseInt($('#rowid' + id).html()));
        }
    }

    function calcResult(){
        let result = 0;
        let orders = [[${orders}]];
        orders.forEach(order => {
            let count = parseInt($('#' + order.orderDetails.pizza.id).html());
            result+=order.orderDetails.pizza.price*count});
        $("#result").html((1.0*result/100).toFixed(2)+" руб.");
    }

    calcResult();
</script>
</body>
</html>